%h2 Baltimore Github Users by Popularity
%ol#users_list

#user_listing_template{style: 'display: none'}
  %dl
    %dt Username
    %dd.username {{ username }}
    %dt Followers Count
    %dd.followers_count {{ followers_count }}
    %dt Public Repo Count
    %dd.public_repo_count {{ public_repo_count }}
